{$MINIO__DOMAIN} {
    encode gzip

    # =========================
    # ORIGINAL IMAGES (/i/)
    # =========================
    handle /i/* {
        rewrite * /{$MINIO__BUCKET_NAME}{uri}
        reverse_proxy http://{$MINIO__ENDPOINT} {
            header_up Host {http.reverse_proxy.upstream.host}
        }
    }

    # =========================
    # THUMBNAILS (/t/)
    # =========================
    handle /t/* {
        rewrite * /{$MINIO__BUCKET_NAME}{uri}
        reverse_proxy http://{$MINIO__ENDPOINT} {
            header_up Host {http.reverse_proxy.upstream.host}
        }
    }

    header {
        Access-Control-Allow-Origin *
        Cache-Control "public, max-age=31536000, immutable"
        X-Content-Type-Options nosniff
    }
}

{$MINIO__ADMIN_DOMAIN} {
    reverse_proxy http://{$MINIO__ENDPOINT_SECURE} {
        header_up Host {http.reverse_proxy.upstream.host}
    }
}