{$MINIO__DOMAIN} {

    encode gzip

    # =========================
    # ORIGINAL IMAGES (/i/)
    # =========================
    handle /i/* {
        rewrite * /private-bucket/i{uri}
        reverse_proxy {$MINIO__ENDPOINT}
    }

    # =========================
    # THUMBNAILS (/t/)
    # =========================
    handle /t/* {
        rewrite * /private-bucket/t{uri}
        reverse_proxy {$MINIO__ENDPOINT}
    }

    header {
        Access-Control-Allow-Origin *
        Cache-Control "public, max-age=31536000, immutable"
        X-Content-Type-Options nosniff
    }
}

{$MINIO__ADMIN_DOMAIN} {
    reverse_proxy {$MINIO__ENDPOINT_SECURE}
}